.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

## ------------------------- cambios
!application/config/database.php

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

bower_components/
uploads/
node_modules/
package-lock.json
public/assets/*.min.css
public/assets/*.min.js

public/fonts/*.eot
public/fonts/*.svg
public/fonts/*.ttf
public/fonts/*.woff
public/fonts/*.woff2