<div class="col-md-8 col-md-offset-2">

    <div class="col-md-6">
        <div class="input-group">
            <input type="text" data-ng-model="toSearch" class="form-control" placeholder="Buscar producto especial por nombre" data-ng-enter="search(toSearch)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-ng-click="search(toSearch)">Buscar</button>
            </span>
        </div>
        <!-- /input-group -->
    </div>

    <br></br>

    <!-- Table -->
    <table class="table table-responsive table-bordered" data-ng-show="pagination.data.length">
        <thead class="thead-inverse">
            <tr>
                <th style="width: 5%;">#</th>
                <!-- <th style="width: 15%;">Rubro</th> -->
                <th data-ng-click="changeSorting('category')">Nombre
                    <span data-ng-show="sort.column == 'category'">
                        <i data-ng-class="{'glyphicon glyphicon-arrow-down' : sort.descending, 'glyphicon glyphicon-arrow-up' : !sort.descending}"></i>
                    </span>
                </th>
                <th data-ng-click="changeSorting('letter')">Codigo
                    <span data-ng-show="sort.column == 'letter'">
                        <i data-ng-class="{'glyphicon glyphicon-arrow-down' : sort.descending, 'glyphicon glyphicon-arrow-up' : !sort.descending}"></i>
                    </span>
                </th>
                <th>Unidad</th>
                <th style="width: 10%;">Acciones</th>
            </tr>
        </thead>

        <tr ng-repeat="product in pagination.data | orderBy:sort.column:sort.descending">
            <td>{{$index + 1}}</td>
            <td>{{product.category}}</td>
            <td>{{product.special_product_code}}</td>
            <td>{{product.unit}}</td>
            <td>
                <div class="text-center">
                    <div class="btn-group">
                        <span class="glyphicon glyphicon-trash" data-ng-click="remove(product)" uib-tooltip="Eliminar"></span>&nbsp;
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div data-ng-hide="records.length">
    <h3>No se encontraron resultados.</h3>
</div>

<div data-ng-include src="'public/app/pagination/pagination.html'"></div>

</div>