<div class="container">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <openlayers ol-center="current" ol-markers="markers" ol-defaults="defaults" height="500px">
                <ol-marker ol-marker-properties="marker" ng-click="show(marker)" ng-repeat="marker in markers" lat="marker.lat" lon="marker.lon"></ol-marker>
            </openlayers>
            <h4></h4>
            <label>{{information}}</label>
        </div>

        <div class="col-xs-5">
            <button class="btn btn-primary" data-ng-click="new()">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                &nbsp;Marcador
            </button>

            <button class="btn btn-primary" data-ng-click="geocode()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                &nbsp;Buscar Dirección
            </button>

            <button class="btn btn-primary" data-ng-disabled="!commerce.name || !commerce.address" data-ng-click="save()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                &nbsp;Guardar
            </button>

            <h3></h3>

            <div data-ng-show="true">
                <label>Nombre:</label>
                <input type="text" class="form-control" data-ng-model="commerce.name" placeholder="Nombre del comercio">

                <h3></h3>

                <label>Dirección:</label>
                <input type="text" class="form-control" data-ng-model="commerce.address" placeholder="Dirección">
   
                <h3></h3>

                <label>Latitud:</label>
                <input type="text" class="form-control" data-ng-model="commerce.latitude" placeholder="Latitud">

                <h3></h3>

                <label>Longitud:</label>
                <input type="text" class="form-control" data-ng-model="commerce.longitude" placeholder="Longitud">

                <h3></h3>

                <label>Ciudad:</label>
                <input type="text" data-ng-disabled="true" class="form-control" data-ng-model="commerce.city" placeholder="Ciudad">

                <h3></h3>

                <label>Provincia:</label>
                <input type="text" data-ng-disabled="true" class="form-control" data-ng-model="commerce.country" placeholder="Provincia">

            </div>


        </div>
    </div>
</div>