<div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
        <h3>Restablecer Contraseña</h3>
        <h2> </h2>
        <h4>Su nueva contraseña se le enviara a su cuenta de correo electrónico, podrá cambiarla una vez iniciada la sesión.
        </h4>
        <br>

        <h4>Ingrese su email:</h4>
        <input type="email" class="form-control" data-ng-click="email" placeholder="Correo electronico">
        <h3></h3>

        <button class="btn btn-lg btn-primary btn-block" name="submit" data-ng-click="reset()" type="submit">Enviar</button>
        <h3></h3>

        <a href="" data-ng-click="redirectTo('/login')">Volver al inicio</a>
    </div>
    <!-- /.col-lg-4 -->
</div>