<div class="row">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" >
            <h3>Nuevo Rubro</h3>
        </div>

        <div class="col-lg-3 col-lg-offset-4" >
            <form class="form-signin">

            <h4>Ingrese el nombre:</h4>
            <input type="text" class="form-control" data-ng-model="item.name" name="name" placeholder="Nombre del rubro">
            <h3></h3>

            <button class="btn btn-lg btn-primary btn-block" data-ng-click="save()" data-ng-disabled="!item.name">Cargar</button>
            </form>
        </div><!-- /.col-lg-4 -->
    </div>