<div class="row">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" >
        <h3>Cambiar contraseña</h3>
    </div>
    <div class="col-lg-3 col-lg-offset-4">
        <form class="form-signin">

            <h4>Ingrese su contraseña actual:</h4>
                <input type="password" class="form-control " data-ng-model="data.password"  placeholder="Contraseña actual">
            <h3></h3>
            <h4>Ingrese la nueva contraseña:</h4>
                <input type="password" class="form-control " data-ng-model="data.newPassword"  placeholder="Contraseña nueva">
            <h3></h3>
            <h4>Confirmar la nueva contraseña:</h4>
                <input type="password" class="form-control " data-ng-model="data.confirmNewPassword" placeholder="Confirmar contraseña nueva">
            <h3></h3>
            <button class="btn btn-lg btn-primary btn-block" data-ng-click="change()" type="submit" ng-disabled='!data.newPassword'>Cambiar</button>
            <h3></h3>
        </form>

    </div><!-- /.col-lg-4 -->
</div>