<div class="col-md-5">
    <div class="input-group">
        <input type="text" data-ng-model="toSearch" class="form-control" placeholder="Buscar por codigo de producto o comercio" data-ng-enter="search(toSearch)">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-ng-click="search(toSearch)">Buscar</button>
        </span>
    </div>
    <!-- /input-group -->
</div>

<br></br>

<!-- Table -->
<table class="table table-responsive table-bordered" data-ng-show="pagination.data.length">
    <thead class="thead-inverse">
        <tr>
            <th style="width: 2%;">#</th>
            <th style="width: 8%;" data-ng-click="changeSorting('id')">ID
                <span data-ng-show="sort.column == 'id'">
                    <i data-ng-class="{'glyphicon glyphicon-arrow-down' : sort.descending, 'glyphicon glyphicon-arrow-up' : !sort.descending}"></i>
                </span>
            </th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Comercio</th>
            <th>Dirección</th>
            <th data-ng-click="changeSorting('id')">Fecha
                <span data-ng-show="sort.column == 'id'">
                    <i data-ng-class="{'glyphicon glyphicon-arrow-down' : sort.descending, 'glyphicon glyphicon-arrow-up' : !sort.descending}"></i>
                </span>
            </th>
        </tr>
    </thead>

    <tr ng-repeat="price in pagination.data | orderBy:sort.column:sort.descending">
        <td>
            <b>{{$index + 1}}</b>
        </td>
        <td>{{price.id}}</td>
        <td>{{price.product_code}}</td>
        <td>{{price.price}}</td>
        <td>{{price.commerce_name}}</td>
        <td>{{price.commerce_address}}</td>
        <td>{{price.date}}</td>
    </tr>
</table>

<div data-ng-hide="records.length">
    <h3>No se encontraron resultados.</h3>
</div>

<div data-ng-include src="'public/app/pagination/pagination.html'"></div>